html, body {
  height: 100%;
  margin: 0; /* 기본 마진 제거 */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-main-background {
  background-color: #4A6B5B; /* 차분한 숲 녹색 계열 */
  min-height: 100vh; /* 화면 전체 높이 */
}

.sidebar-container {
  transition: max-width 0.3s ease-in-out, padding 0.3s ease-in-out;
  overflow: hidden;
  flex-shrink: 0; /* 사이드바가 줄어들지 않도록 방지 */
  max-width: 280px; /* 열렸을 때 사이드바의 최대 너비, col-md-3에 맞춰 조정 가능 */
  background-color: #f8f9fa; /* Bootstrap의 light 배경색과 유사하게 변경 */
}

.main-content-container {
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
  background-color: #ADD8E6; /* 임시 배경색: 연한 파란색 */
  /* 이 부분의 너비는 App.js에서 Bootstrap 그리드 클래스로 제어됩니다. */
}